{% extends 'base.html' %}

{% block content %}
    <h2>Welcome, {{ user_id }}</h2>
    <h2>Wallet Balance: {{ wallet_balance }}</h2>
    <h2>Coupon Redemption</h2>
    <p>Select an offer to redeem:</p>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.title }}</h3>
                <p>Price: {{ product.price }} coins</p>
                <form action="{{ url_for('add_to_wallet', coins=product.price) }}" method="post">
                    <button type="submit">Add to Wallet</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
